@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

body, html {
    height: 100%;
}

  * {
    box-sizing: border-box;
}


.bg-img {
    background-image: url("./assets/bg-img.png");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-63%, -120%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}
/* Nav bar */
.nav {
    background-color: white;
    height: 50px;
    width: 100%;
}
.navtext {
    position: absolute;
    top: 2.15%;
    font-size: larger;
}

.navtext:hover {
    color: blue;
}

/* pypi-index.html */

.inter-h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.inter-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

.inter-download-link {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;  
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    color:darkgreen;
}

.inter-download-link:hover {
    color: #dce3de;
}

hr {
    border: 1px outset #d9dbde;
    border-radius: 1px;
}